<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= homeStartingPara %></p>

<% homePost.forEach(function(title) { %>
  <h1> <%=  title.title %> </h1>
  <p>
    <%=  title.detail.substring(0, 100)+" ..." %>
    <a href="/post/<%=title.title%>">Read More</a>
  </p>
<% }); %>


<%- include("partials/footer"); -%>
